<div class="container inline ">
	
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-info text-center">
				SISTEMA DE ASISTENCIA NFC
			</h1>
			<div class="row clearfix">	
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column jumbotron">
					<form role="form" action="/iniciarsesion" method="post">
						<div class="form-group">
							 <label for="exampleInputEmail1">Usuario</label>
							 <input class="form-control"  name='user'/>
						</div>
						<div class="form-group">
							 <label for="exampleInputPassword1">Contraseña</label>
							 <input class="form-control"  type="password" name="password"/>
						</div>
						<div class="checkbox">
							 <label><input type="checkbox" /><h4>Recordarme</h4></label>
						</div> 
						<input value="Acceder" class="btn btn-primary btn-lg active center-block"  type="submit">	
					</form>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
		</div>
	</div>

</div>